@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff4757;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 60px; */
}

/* #navbar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  flex-direction: column;
  width: 100%;
  background-color: teal;
}
#navbar img {
  width: 60px;
} */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  /* margin: 20px; */
  border: 2px solid white;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.timer-container {
  /* border: 2px solid white;
  border-radius: 80px; */
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-container h1 {
  font-size: 25px;
  margin: 15px;
  text-align: center;
}
.action-btn span {
  font-size: 30px;
  margin: 0 10px;
  width: 80px;
  text-align: center;
}
.action-btn button {
  font-size: 35px;
  margin: 0 10px;
  margin-bottom: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.clock-container {
  border: 2px solid white;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 200px;
  height: 190px;
}

.clock-container h1 {
  margin: 0;
  font-size: 30px;
}
.clock-container span {
  font-size: 45px;
  margin: 10px 0;
}

.clock-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-btn button {
  height: 50px;
  width: 150px;
  margin: 10px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 40px;
  cursor: pointer;
}
#chg-btn {
  height: 50px;
  width: 315px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 10px rgb(178 0 255);
}

@media screen and (max-width: 630px) and (min-width: 400px) {
  body {
    background-color: rgb(0, 255, 115);
  }

  .action-container {
    flex-direction: column;
    width: 450px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .action-btn {
    margin: 0 10px;
  }
}
@media screen and (max-width: 450px) {
  body {
    background-color: rgb(255, 57, 57);
  }

  .action-container {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .clock-btn button {
    width: 130px;
  }
  #chg-btn {
    width: 275px;
  }
}
