@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c2c54;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 0, 0);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  /* margin: 20px; */
  border: 2px solid white;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.timer-container {
  /* border: 2px solid white;
  border-radius: 80px; */
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-container h1 {
  font-size: 25px;
  margin: 15px;
  text-align: center;
}
.action-btn span {
  font-size: 30px;
  margin: 0 10px;
  width: 50px;
  text-align: center;
}
.action-btn button {
  font-size: 35px;
  margin: 0 10px;
  margin-bottom: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.clock-container {
  border: 2px solid white;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 200px;
  height: 200px;
}

.clock-container h1 {
  margin: 0;
  font-size: 30px;
}
.clock-container span {
  font-size: 45px;
  margin: 10px 0;
}

.clock-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-btn button {
  height: 50px;
  width: 150px;
  margin: 10px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 40px;
  cursor: pointer;
}
#chg-btn {
  height: 50px;
  width: 315px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 10px rgb(178 0 255);
}

@media screen {
}
